// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*colors*/
$teal:#4b5c66;
$medTeal:#37464f;
$darkTeal:#313f48;

/*fonts*/
$futura:"futura-pt";

