<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<div id="headerwrapper">

		<h1 id="site-title">TheSocialTwit</h1>
<!--
	<div id="login-tweet">
			<% if @twitterloggedin %>
				<button id="writetweet">Tweet</button>
			<% else %>
				<button id="loginbutton">Login</button>
			<% end %>

			<% if @instagramloggedin != true %>
				<button id="loginbutton">Login to Instagram</button>
			<% end %>
		</div>
	-->
		
	</div>
	
</header>


<!--modal window for writing tweets-->
<div id="tweetmodal" class="reveal-modal [large]">
	<form action="/writetweet">
		<h2>Whats happening?</h2>
		<input type="text" name="update"/>
		<input type="submit"/>
	</form>
</div><!--end tweet modal-->


<!--modal for login-->
<div id="login" class="reveal-modal [large]">
	<button id="twittew-login" onclick="twitterLogin();">Login to twitter</button>
	<button id="instagram-login" onclick="instagramLogin();">Login to instagram</button>

</div><!--end login modal-->



<div id="main">
	<%= yield %>
</div>

<script type="text/javascript" src="//use.typekit.net/tyg0tfk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
 <%= javascript_include_tag "application" %>


<!-- 
	If the user is logged in, set login state in 
-->
<% if @twitterloggedin %>
	<script>
		$(window).load(function(){
			localStorage.setItem("twitterloggedin",true);
		})
	</script>
<% end %>
</body>
</html>
